@model HomeViewModel
@{
    Layout = "_AdminLayout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success">ثبت کالای جدید</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                کد
            </th>
            <th>
                نام
            </th>
            <th>
                توضیحات
            </th>
            <th>
                قیمت
            </th>
            <th>
                دسته بندی
            </th>
            <th>

                عکس
            </th>
            <th>تنظیمات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <img src="@Url.Content("~/images/"+item.ImageUrl)"  style="width:70px;height:60px" />

                </td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.ProductID" class="btn btn-info">ویرایش</a>
                    |
                    <a asp-action="Delete" asp-route-Id="@item.ProductID" class="btn btn-danger" onclick="return confirm('از حذف این کالا مطمئن هستید؟')">حذف</a>
                </td>
            </tr>
        }


    </tbody>


</table>
<div class="container">
    <nav page-model="@Model.Result.pagingData" page-action="index" page-contoller="Product" page-category="@Model.Category"></nav>

</div>
